In [13]:
#suppose i have been given a string and then i have to find a word that starts with a capital letter
#example= Cyclone,Dyclone..... like it starts with capital letter and ends with yclone
import re
text="This is the example of reges i want to find word starting with caps like Cyclone and like Dyclone or maybe Hyclone"
pattern=r"[A-Z]+yclone"
new_text=re.search(pattern,text)
print(new_text)#but only Cyclone matches and not Dyclone and Hyclone.. because it stops in first occurrences
result=re.findall(pattern,text)
print(result)

<re.Match object; span=(73, 80), match='Cyclone'>
['Cyclone', 'Dyclone', 'Hyclone']

In [10]:
#2nd way:
import re
text="This is the example of reges i want to find word starting with caps like Cyclone and like Dyclone or maybe Hyclone"
pattern=r"[A-Z]+yclone"
new_text=re.search(pattern,text)
print(new_text)#but only Cyclone matches and not Dyclone and Hyclone.. because it stops in first occurrences
results=re.finditer(pattern,text)
for r in results:
   print(r)

<re.Match object; span=(73, 80), match='Cyclone'>
<re.Match object; span=(73, 80), match='Cyclone'>
<re.Match object; span=(90, 97), match='Dyclone'>
<re.Match object; span=(107, 114), match='Hyclone'>

In [16]:
#example2:
import re
text= 'My email is: shrutijha9065@email.com and alternate email id is: shrutijha1503@email.com'
pattern=r'\S+@\S+'
# when you use r'\S+@\S+' as a regular expression pattern,
#it will match any sequence of characters that starts with one or more non-whitespace characters, 
#followed by the "@" symbol, and then followed by one or more non-whitespace characters.
emails=re.findall(pattern,text)
print(emails)

['shrutijha9065@email.com', 'shrutijha1503@email.com']

In [29]:
#search for phone numbers
import re
text="the agent's phone number is 405-55-1234.Call soon!"
pattern="\d\d\d-\d\d-\d\d\d\d"
match=re.search(pattern,text)
print(match)

<re.Match object; span=(28, 39), match='405-55-1234'>

In [30]:
match.span()#gives the index number of pattern from where its starts to where it ends
#no matter how many matches i have i will get the span of only first match

(28, 39)

In [31]:
match

In [32]:
match.start()#for the start index

28

In [33]:
match.end()

39

In [48]:
#now for multiple matches:
import re
text= 'My email is: shrutijha9065@email.com and alternate email id is: shrutijha1503@email.com'
pattern=r'\S+@\S+'
# when you use r'\S+@\S+' as a regular expression pattern,
#it will match any sequence of characters that starts with one or more non-whitespace characters, 
#followed by the "@" symbol, and then followed by one or more non-whitespace characters.
emails=re.findall(pattern,text)
email_match=re.finditer(pattern,text)
print(emails)

for e in email_match:
    print(e)
    print(e.span())
    print(e.group())#gives group of emails i am searching,,just like findall

['shrutijha9065@email.com', 'shrutijha1503@email.com']
<re.Match object; span=(13, 36), match='shrutijha9065@email.com'>
(13, 36)
shrutijha9065@email.com
<re.Match object; span=(64, 87), match='shrutijha1503@email.com'>
(64, 87)
shrutijha1503@email.com

In [2]:
#quantifiers:

#search for phone numbers
import re
text="the agent's phone number is 405-55-1234.Call soon!"
# pattern="\d\d\d-\d\d-\d\d\d\d"
pattern=r'\d{3}-\d{2}-\d{4}'
match=re.search(pattern,text)
print(match)

<re.Match object; span=(28, 39), match='405-55-1234'>

In [3]:
phone_pattern=r'(\d{3})-(\d{2})-(\d{4})'#it will treat each pattern as seperate groups

In [4]:
res=re.search(phone_pattern,text)

In [5]:
res.group()

'405-55-1234'

In [6]:
res.group(1)

'405'

In [7]:
res.group(3)

'1234'

In [8]:
#ADDITIONAL REGEX:
# |=OR OPERATOR

re.search(r'cat','The cat is here')#search for cat in the second text

In [9]:
re.search(r'dog','The cat is here')#we get no output as there is no dog in this

In [10]:
re.search(r'cat|dog','The dog is here')#we are using | here

In [11]:
#2nd example:
re.findall(r'at','The cat sat on a mat.')#we got all the characters that is having at... even from hat and sat

['at', 'at', 'at']

In [12]:
re.findall(r'.at','The cat sat on a mat.')#. represents that anything could be in place of that dot

['cat', 'sat', 'mat']

In [18]:
re.findall(r'...at','The cat sat on a mat.It splat ')

['e cat', 'a mat', 'splat']

In [33]:
#to exclude a digit

t="there are 3 many people 45 in this 65 house"
pattern=r"[^\d]"
re.findall(pattern,t)#returns all the character one by one

['t',
 'h',
 'e',
 'r',
 'e',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 ' ',
 'm',
 'a',
 'n',
 'y',
 ' ',
 'p',
 'e',
 'o',
 'p',
 'l',
 'e',
 ' ',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'i',
 's',
 ' ',
 ' ',
 'h',
 'o',
 'u',
 's',
 'e']

In [34]:
t="there are 3 many people 45 in this 65 house"
pattern=r"[^\d]+" #+ is used to get all words together
re.findall(pattern,t)#returns all the character one by one

['there are ', ' many people ', ' in this ', ' house']

In [41]:
s="this is a string! with a lot of punctuations right? let's remove them all."
p=r'[^!.? ]+'
m=re.findall(p,s)
print(m)

['this', 'is', 'a', 'string', 'with', 'a', 'lot', 'of', 'punctuations', 'right', "let's", 'remove', 'them', 'all']

In [39]:
' '.join(m)

"this is a string with a lot of punctuations right let's remove them all"